<header class="site-header">
    <div class="site-identity">
        <h1><a class="header-link" href="#">Anonymous Blog Site</a></h1>
    </div>
    <nav class="site-navigation">
        <ul class="nav">
            
            <li><a class="li-a" href="/">Create Blog</a></li> <li><a class="li-a2" href="/home">View All Blogs</a></li> 
        </ul>
    </nav>
</header>
<hr>